/*BODY AND GENERAL STYLING*/
*{
    box-sizing: border-box;
}

:root{
	--darkblue: #717790;
    --blue: #b8cadf;
    --pink: #e5c6c3;
    --darkpink: #926464;
    --green: #b8dbc0;
    --darkgreen: #556564;
    --white: #eee7e2;
}

@font-face {
	font-family: 'Greconian';
	src: url('../assets/greconian/Greconian.ttf');
}

@font-face {
	font-family: 'Selanik';
	src: url('../assets/greconian/salih-kizilkaya-sk-selanik/Salih\ Kizilkaya\ -\ SK\ Selanik\ Rounded\ Regular.ttf');
}

body {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    margin: 0px;
    overflow: scroll;
    font-family: 'Selanik';
    background-color: var(--white);
}

.app{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    gap: 1px;
    position: relative;
}

.button{
    font-family: 'Greconian';
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    color: var(--darkblue);
    background-color: var(--green);
    border: none;
    font-size: 35px;
    box-shadow: 0 6px var(--darkgreen);
}

.button::hover{
    background-color: var(--pink);
}

.button::active{
    background-color: var(--pink);
    color: var(--darkpink);
    box-shadow: 0 0px --white;
    transform: translateY(4px);
}

h1{
    font-family: 'Greconian';
    font-size: 60px;
}

#equipo{
    display: flex;
    overflow: visible;
    justify-content: space-evenly;
}

#container{
    display: flex;
    gap: 8pc;
}

/*GAME STYLING*/

#game-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#board {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board div {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    width: 200px;
}

#roll-dice {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#roll-dice:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
